@import "tailwindcss";

body {
  background: #000;
  margin: 0;
  overflow-x: hidden;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Light.otf") format("truetype");
  font-weight: 00;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
 
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;

  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;

  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  
}




.scroll-animate {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: transform, opacity;
}

.scroll-animate.show {
  opacity: 1;
  transform: translateY(0);

  
}